/*-- scss:defaults --*/

$theme: "default" !default;
$enable-rounded: false !default;

//
// Color system
//
$white: #fff !default;
$black: #444 !default;
$border-color: #ccc !default;
$primary: #4575b4 !default;
$body-color: $black;

//
// Fonts
//
$font-family-sans-serif:
  "Segoe UI",
  "Arial",
  "Helvetica",
  "Hiragino Sans",
  "Noto Sans JP",
  sans-serif,
  -apple-system,
  BlinkMacSystemFont;
$font-family-monospace:
  Menlo,
  Consolas,
  Monaco,
  Courier,
  monospace;
$toc-font-size: 1rem;
$h1-font-size: 1.5rem;
$h2-font-size: 1.4rem;
$h3-font-size: 1.3rem;
$h4-font-size: 1.2rem;
$h5-font-size: 1.1rem;
$h6-font-size: 1.05rem;

$line-height-base: 1.67 !default;

$link-decoration: none !default;
$link-hover-decoration: underline !default;

//
// Code blocks, Inline code
//
$code-color: $black !default;

$kbd-padding-y: 0.05rem !default;
$kbd-padding-x: .375rem !default;

//
// Quarto HTML theming variables
// : https://quarto.org/docs/output-formats/html-themes.html
//
$content-padding-top: 24px;
$sidebar-fg: $black;
$code-block-bg: #f4f6f8;


/*-- scss:rules --*/

html {
	-webkit-text-size-adjust: 100%;
	text-size-adjust: 100%;
	overflow-x: visible;
	overflow-y: scroll;
}

body {
	hyphens: auto;
	overflow-wrap: break-word;
	text-rendering: optimizeLegibility;
  letter-spacing: 0.015rem;
	font-kerning: normal;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
}

:is(h1, h2, h3, h4, h5, h6) :is(code, a) {
  font-weight: inherit;
}

//
// Lists
//
ol, ul {
	padding-left: 1.5em;
}

li {
	margin-block: 0.2em;
}

dl dt {
  font-weight: bold;
  margin-block-start: 1em;
}

dl dd {
	margin-block: 0.3em;
	margin-inline: 1em 0;
	position: relative;
}

dl dd::before {
  content: ":";
  color: $border-color;
  position: absolute;
  left: -0.8em;
}

dl dt code, dl dt a {
  font-weight: bold;
}

//
// Code and Keyboard
//
kbd {
	font-family: system-ui;
	box-shadow: 1px 1px 1px #808080;
	border-radius: 3px;
}

//
// Navbar and Sidebar
//
.sidebar-navigation .sidebar-item a{
	line-height: 2;
}

.sidebar-navigation .sidebar-item a:hover {
  font-weight: bold;
}

div.sidebar-item-container .active {
  font-weight: bold;
}

//
// Callouts
//
div {
  .info {
    margin: 1em 0;
    padding-block: 0.5rem;
    padding-inline: 2rem 1rem;
    position: relative;
    background-color: #4575b411;
    border-left: 3px solid #4575b4;
  }

  .info::before {
    content: "i";
    color: #4575b4;
    font-family: "Ubuntu mono", monospace;
    font-size: 1.2rem;
    font-weight: bold;
    font-style: italic;
    display: inline-block;
    position: absolute;
    left: 0.7rem;
  }

  .warn {
    margin: 1rem 0;
    padding-block: 0.5rem;
    padding-inline: 2rem 1rem;
    position: relative;
    background-color: #d7302711;
    border-left: 3px solid #d73027;
  }

  .warn::before {
    content: "!";
    color: #d73027;
    font-family: "Ubuntu mono", monospace;
    font-size: 1.2rem;
    font-weight: bold;
    font-style: italic;
    display: inline-block;
    position: absolute;
    left: 0.7rem;
  }

  .warn > p,
  .info > p {
    margin: 0.2rem 0;
  }

}

//
// News
//
div {
  .news {
    width: 100%;
    height: 270px;
    padding-inline-end: 1em;
    overflow-y: scroll;
  }

  .news dl dt {
    font-weight: bold;
    margin-block-start: 1em;
  }

  .news dl dd {
  	margin-block: 0.3em;
  	margin-inline: 0;
  	position: relative;
    border-bottom: dashed 1px $border-color;
  }

  .news dl dd::before {
    content: none;
  }
}
