/*-- scss:defaults --*/

$theme: "default" !default;

//
// Color system
//
$white: #fff !default;
$black: #444 !default;
$grey1: #f1f1f1 !default;
$grey2: #f4f4f4 !default;
$grey3: #ccc !default;
$grey4: #888 !default;
$color-link: #4575B4 !default;

$callout-color-note: #0072B2cc;
$callout-color-tip: #009E73cc;
$callout-color-caution: #E69F00cc;
$callout-color-warning: #F0E442cc;
$callout-color-important: #D55E00cc;

$body-bg: $grey2;
$body-color: $black;
$link-color: $color-link;

//
// Fonts
//
$font-family-sans-serif:
  -apple-system,
  BlinkMacSystemFont,
  "Segoe UI",
  "Noto Sans JP",
  "Arial",
  "Helvetica",
  "Hiragino Sans",
  "Hiragino Kaku Gothic ProN",
  "Yu Gothic Medium",
  "Meiryo",
  system-ui,
  sans-serif;
$font-family-monospace:
  Menlo,
  Consolas,
  Monaco,
  Courier,
  monospace;
$toc-font-size: 1rem;
$h1-font-size: 1.6rem;
$h2-font-size: 1.5rem;
$h3-font-size: 1.4rem;
$h4-font-size: 1.3rem;
$h5-font-size: 1.2rem;
$h6-font-size: 1.1rem;

//
// Code blocks, Inline code
//
$code-block-bg: #f2f5f9;
$code-bg: $grey1;
$code-color: $black;

//
// Layout
//
$content-padding-top: 24px;

//
// Navgation
//
$sidebar-fg: $black;
$sidebar-hl: $color-link;


/*-- scss:rules --*/

html {
	-webkit-text-size-adjust: 100%;
	text-size-adjust: 100%;
	overflow-x: visible;
	overflow-y: scroll;
}

main {
	line-height: 1.5;
  background-color: $white;
	hyphens: auto;
	overflow-wrap: break-word;
	text-rendering: optimizeLegibility;
  letter-spacing: 0.025em;
	font-kerning: normal;
	padding: 24px;
	box-shadow: 0 2px 5px 1px $grey3;
}

@media (max-width: 992px) {
  body {
    background-color: $white;
    font-size: .875rem;
  }

  main {
  	line-height: 1.4;
    background-color: $white;
    hyphens: auto;
    overflow-wrap: break-word;
    text-rendering: optimizeLegibility;
    font-kerning: normal;
    padding: 12px;
    box-shadow: none;
  }
}

//
// Fonts
//
h1 {
  font-weight: bold;
}

h2 {
	background-color: $grey2;
	border-bottom: none;
	padding: 0.5rem .75rem;
	font-weight: normal;
	margin-top: 1.5em;
	margin-bottom: 1em;
	margin-inline-start: -12px;
  border-inline-start: 12px solid $grey3;
}

h3 {
  position: relative;
  padding: .2rem 0rem;
	border-bottom: 1.5px solid $grey3;
	font-weight: normal;
	margin-top: 1.33em;
	margin-bottom: 1em;
}

h3:before {
  position: absolute;
  bottom: -1px;
  left: 0;
  width: 20%;
  height: 1px;
  content: "";
  background: #444;
}

h3:after {
  position: absolute;
  bottom: 0px;
  right: 0;
  height: .875rem;
  content: '###';
  font-size: .875rem;
  color: $grey4;
}

h4 {
  position: relative;
  padding: .2rem 0rem;
  border-bottom: 1.5px solid $grey3;
  font-weight: normal;
}

h4:before {
  position: absolute;
  bottom: -1px;
  left: 0;
  width: 15%;
  height: 1px;
  content: "";
  background: #444;
}

h4:after {
  position: absolute;
  bottom: 0px;
  right: 0;
  height: .875rem;
  content: '####';
  font-size: .875rem;
  color: $grey4;
}

h5, h6 {
  font-weight: normal;
  padding: .2rem 0rem;
}

//
// Lists
//
ol, ul {
	padding-left: 1.5em;
}

li {
	margin-block: 0.2em;
}

dl dt {
  font-weight: bold;
  margin-block-start: 1em;
}

dl dd {
	margin-block: 0.3em;
	margin-inline: 1em 0;
	position: relative;
}

dl dd::before {
  content: ":";
  color: $grey3;
  position: absolute;
  left: -0.8em;
}

//
// Tables
//
table {
	margin-left: 0;
  margin-top: .5rem !important;
  margin-bottom: 1.5rem !important;
  box-shadow: 1px 1px 5px #808080;
	font-size: 0.875rem;
}

td, th{
	padding: 10px;
  border: none !important;
}

th {
	background: $grey2;
}

//
// Other styles
//
pre code {
	font-size: 0.875rem;
}

blockquote {
	margin: 1em 0 1em 0em;
	padding-left: 2em;
	border-left: 5px solid $grey2;
	color: #505050;
}

a {
	text-decoration: none;
}

a:hover{
  text-decoration: underline;
	text-underline-offset: 2px;
}

kbd {
	display: inline-block;
	vertical-align: middle;
	font-family: system-ui;
	font-size: 0.875rem;
	padding: 1px 4px;
	margin: -4px 2px 0 0;
	box-shadow: 1px 1px 1px #808080;
	border: solid 1px $grey3;
	border-radius: 3px;
}

//
// Navbar and Sidebar
//
.sidebar-navigation .sidebar-item {
	cursor: pointer;
}

.sidebar-navigation .sidebar-item a{
	font-weight: bold !important;
	line-height: 2;
}

.sidebar-navigation .sidebar-section .sidebar-item:hover {
  /* For subitems */
	background-color: #e4e4e4;
}

.sidebar-item-text {
	width: 100%;
	padding-left: 0.25rem;
}

//
// Codeblocks
//
.code-with-filename .code-with-filename-file, .code-with-filename .code-with-filename-file pre {
  background-color: #dee2e6;
}

.cell .souceCode, .cell .cell-code {
	margin-bottom: 2px;
}

.cell-output, .cell-output-stdout {
	background-color: $code-bg;
	padding: 0.4em;
}

.cell-output pre, .cell-output-stdout pre {
  margin: 0;
}

.sourceCode::-webkit-scrollbar {
  background: $grey2;
  width: 5px;
  height: 5px;
  border-radius: 0.25rem;
}

.sourceCode::-webkit-scrollbar-thumb {
  background-color: $grey3;
  border-radius: 0.25rem;
}

//
// Callouts
//
div {
  .note {
  	margin-block: 0.5rem 1.5rem;
    padding-block: 0.5rem;
    padding-inline: 2rem 1rem;
    position: relative;
    background-color: #4575B411;
  }

  .note::before {
    content: "i";
    color: #4575B4;
    font-family: "Ubuntu mono", monospace;
    font-size: 1.2rem;
    font-weight: bold;
    font-style: italic;
    display: inline-block;
    position: absolute;
    left: 0.7rem;
  }

  .warn {
    margin-block: 0.5rem 1.5rem;
    padding-block: 0.5rem;
    padding-inline: 2rem 1rem;
    position: relative;
    background-color: #D7302711;
  }

  .warn::before {
    content: "!";
    color: #D73027;
    font-family: "Ubuntu mono", monospace;
    font-size: 1.2rem;
    font-weight: bold;
    font-style: italic;
    display: inline-block;
    position: absolute;
    left: 0.7rem;
  }
}

.warn > p, .note > p {
	margin: 0.2rem 0;
}

//
// News
//
div {
  .news {
    width: 100%;
    height: 300px;
    padding-inline: 1em;
    overflow-y: scroll;
    box-shadow: 0px 0px 10px -3px inset #808080;
  }

  .news dl dt {
    font-weight: bold;
    margin-block-start: 1em;
  }

  .news dl dd {
  	margin-block: 0.3em;
  	margin-inline: 0;
  	position: relative;
    border-bottom: dashed 1px $grey3;
  }

  .news dl dd::before {
    content: none;
  }
}
